## Xcode
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

## Swift Package Manager
.build/
.swiftpm/

## Secrets
**/Secrets.xcconfig
Secrets.xcconfig
**/.env
.env

## macOS
.DS_Store
